[Desktop Entry]
X-SnapInstanceName=jupyterlab-desktop
Name=JupyterLab
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/jupyterlab-desktop_jupyterlab-desktop.desktop /snap/bin/jupyterlab-desktop %U
Terminal=false
Type=Application
Icon=/snap/jupyterlab-desktop/31/meta/gui/icon.png
StartupWMClass=JupyterLab
Comment=JupyterLab Desktop
Categories=Science;Development;
X-XFCE-Source=file:///var/lib/snapd/desktop/applications/jupyterlab-desktop_jupyterlab-desktop.desktop
