[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube
Exec=flatpak 'run' '--command=/app/bin/edge' 'com.microsoft.Edge' '--profile-directory=Profile 2' '--app-id=agimnkijcaahngcdmfeangaknmldooml' '--app-url=https://www.youtube.com/?feature=ytca'
Icon=youtube
StartupWMClass=crx__agimnkijcaahngcdmfeangaknmldooml
Actions=Explorar;Inscri--es
X-Flatpak-Part-Of=com.microsoft.Edge
TryExec=/var/lib/flatpak/exports/bin/com.microsoft.Edge
Comment=
Path=
StartupNotify=false
X-XFCE-Source=file:///home/alan/.local/share/applications/com.microsoft.Edge.flextop.msedge-agimnkijcaahngcdmfeangaknmldooml-Profile_2.desktop

[Desktop Action Explorar]
Name=Explorar
Exec=flatpak 'run' '--command=/app/bin/edge' 'com.microsoft.Edge' '--profile-directory=Profile 2' '--app-id=agimnkijcaahngcdmfeangaknmldooml' '--app-url=https://www.youtube.com/?feature=ytca' '--app-launch-url-for-shortcuts-menu-item=https://www.youtube.com/feed/explore?feature=app_shortcuts'

[Desktop Action Inscri--es]
Name=Inscrições
Exec=flatpak 'run' '--command=/app/bin/edge' 'com.microsoft.Edge' '--profile-directory=Profile 2' '--app-id=agimnkijcaahngcdmfeangaknmldooml' '--app-url=https://www.youtube.com/?feature=ytca' '--app-launch-url-for-shortcuts-menu-item=https://www.youtube.com/feed/subscriptions?feature=app_shortcuts'
