#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Photos
Exec=flatpak 'run' '--command=/app/bin/edge' 'com.microsoft.Edge' '--profile-directory=Profile 2' '--app-id=ncmjhecbjeaamljdfahankockkkdmedg' '--app-url=https://photos.google.com/?lfhs=2'
Icon=msedge-ncmjhecbjeaamljdfahankockkkdmedg-Profile_2
StartupWMClass=crx__ncmjhecbjeaamljdfahankockkkdmedg
X-Flatpak-Part-Of=com.microsoft.Edge
TryExec=/var/lib/flatpak/exports/bin/com.microsoft.Edge
