[Desktop Entry]
Icon=application-vnd.openxmlformats-officedocument.spreadsheetml.sheet
Name=Análise dos Contratos de TI - v4.xlsx
Type=Link
URL[$e]=file:$HOME/Downloads/Financeiro/Análise dos Contratos de TI - v4.xlsx
X-KDE-LastOpenedWith=libreoffice-calc
