[Desktop Entry]
Icon=application-vnd.openxmlformats-officedocument.spreadsheetml.sheet
Name=atividades-equipe.xlsx
Type=Link
URL[$e]=file:$HOME/Downloads/RH/atividades-equipe.xlsx
X-KDE-LastOpenedWith=libreoffice-calc
