[Desktop Entry]
Icon=application-vnd.openxmlformats-officedocument.spreadsheetml.sheet
Name=Indicadores Financeiros de TI - Gartner.xlsx
Type=Link
URL[$e]=file:$HOME/Downloads/Financeiro/Indicadores Financeiros de TI - Gartner.xlsx
X-KDE-LastOpenedWith=libreoffice-calc
