[Desktop Entry]
Icon=application-vnd.openxmlformats-officedocument.presentationml.presentation
Name=Iniciativas TI - Fechamento 2022 v3.pptx
Type=Link
URL[$e]=file:$HOME/Downloads/Projetos/Iniciativas TI - Fechamento 2022 v3.pptx
X-KDE-LastOpenedWith=libreoffice-impress
