[Desktop Entry]
Icon=application-vnd.openxmlformats-officedocument.presentationml.presentation
Name=modelo_apresentacao_projeto_lgpd_v2.pptx
Type=Link
URL[$e]=file:$HOME/Downloads/Projetos/LGPD/00.Controle_do_Projeto/00.Materiais_Graficos/modelo_apresentacao_projeto_lgpd_v2.pptx
X-KDE-LastOpenedWith=libreoffice-impress
