[Desktop Entry]
Icon=application-vnd.ms-excel
Name=QUESTIONÁRIO TRIBUTÁRIO.xls
Type=Link
URL[$e]=file:$HOME/Downloads/RFP/QUESTIONÁRIO TRIBUTÁRIO.xls
X-KDE-LastOpenedWith=libreoffice-calc
