[Desktop Action launch_kcalc]
Exec=kcalc
Icon=kcalc
Name=Launch Kcalc

[Desktop Entry]
Actions=launch_kcalc
Icon=kcalc
MimeType=inode/directory;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
